HF_TOKEN=your_hugging_face_token_here
SRAVAANI_API_KEY=change_me_to_a_long_random_string

SRAVAANI_HOST=127.0.0.1
SRAVAANI_PORT=8000
SRAVAANI_MAX_UPLOAD_MB=100
SRAVAANI_REQUEST_TIMEOUT=1800
SRAVAANI_MAX_QUEUE=32
SRAVAANI_ALLOW_URL=1
SRAVAANI_ALLOW_PRIVATE_URLS=0
SRAVAANI_ALLOW_NO_KEY=0

SRAVAANI_MODEL=ARTPARK-IISc/SraVaani-1.0
SRAVAANI_WORKERS=8
SRAVAANI_DEVICE=auto
SRAVAANI_THREADS=
SRAVAANI_PIECE_BATCH=8
SRAVAANI_WORKER_RAM_GB=4.5
SRAVAANI_WORKER_GPU_GB=3.5
SRAVAANI_FP16=0
SRAVAANI_JIT_OPT=
SRAVAANI_TMP_DIR=
SRAVAANI_LOG_DIR=
